<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /padrao/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .(/)?$ index.php
</IfModule>
Options All -Indexes
